<header class="top-header">
    <app-header></app-header>
    <app-bottom-header></app-bottom-header>
</header>
<app-searchseaction></app-searchseaction>
<div class="container todo-label">
    <div class="row">
        <div class="col-lg-3">
            <div class="todo-card">
                <i style="font-size: 30px;" class="fas fa-car"></i>
                <div class="content">
                    <h3>Rent a car</h3>
                    <p>Hunders of cars and 24/7 customer services</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="todo-card">
                <i style="font-size: 30px;" class="fas fa-car"></i>
                <div class="content">
                    <h3>Rent a car</h3>
                    <p>Hunders of cars and 24/7 customer services</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="todo-card">
                <i style="font-size: 30px;" class="fas fa-car"></i>
                <div class="content">
                    <h3>Rent a car</h3>
                    <p>Hunders of cars and 24/7 customer services</p>
                </div>
            </div>
        </div>
    </div>
</div>