p {
    margin: 0;
    padding: 0;
}
.top-header {
    background-color: #003580;
}

.up-header {
    padding: 16px 4px;
    display: flex;
    justify-content: space-between;

}

.up-header .logo h3 {
    color: white;
    font-weight: 800;
}

.up-header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.up-header nav ul li {
    margin-left: 10px;
}


.up-header .logo span {
    color: #0071c2;
    font-weight: 800;
}

.hide {
    display: none;
}

@media (max-width: 900px) {
    .up-header {
       flex-direction: column;
       align-items: center; 
    }
    .up-header nav ul {
        margin-top: 10px;
    }
    .bottom-header {
        padding-top: 0px;
    }
}

.user-dropdown {
    display: block;
    margin-left: 5px;
}

.user-dropdown ul {
    list-style: none;
    background: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.user-dropdown ul li {
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.user-dropdown ul li p {
    padding: 0;
    margin: 0;
}

.user-dropdown .user-drop-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: white;
}

.user-dropdown .user-drop-title p {
   margin-right: 5px;
}

