.bottom-header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 0px;
}

.bottom-header nav ul {
    position: relative;
    top: 16px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.bottom-header nav ul li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    justify-content: center;
    border-bottom: 2px solid white;
}


.bottom-header nav ul li p {
    margin-left: 10px;
    margin-top: -4px;
    color: white;
    font-weight: 700;
}

@media (max-width: 900px) {
    .bottom-header {
        padding-top: 0px;
    }
}