<header class="top-header">
    <app-header></app-header>
</header>
<div class="container">
    <div class="d-flex justify-content-center mt-5 row p-4">
        <form class="ol-sm-8 col-10 col-lg-6">
            <div class="row">
                <h3 class="col-sm-12 col-lg-6 col-12">Welcome to booking.lk</h3>
                <p class="col-sm-12 col-lg-6 col-12">New Member? <a href="#" (click)="toLoginScreen($event)">Login here</a></p>
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" [(ngModel)]="authUser.email" name="authUser.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp"  class="form-text text-danger" [class.hide]="userExist==false">User already exist.</small>
                <small id="emailHelp"  class="form-text text-danger" [class.hide]="invalidEmail==false">Invalid email. Please enter email in right format.</small>
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" [(ngModel)]="authUser.password" name="authUser.password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
                <small id="emailHelp"  class="form-text text-danger" [class.hide]="invalidPassword==false">Invalid Password.</small>
            </div>
            <div class="mt-4">
                <button (click)="register()" class="btn btn-primary w-100">Sign up</button>
            </div>
            <p class="mt-2">Or signup with,</p>
            <div class="d-flex">
                <div class="card m-2 google-card" (click)="googleAuthLogin()">
                    <div class="card-body">
                      <img src="../../assets/images/google.png"  />
                    </div>
                </div>
                <div class="card m-2 google-card">
                    <div class="card-body">
                      <img src="../../assets/images/linkedin.png"  />
                    </div>
                </div>
            </div>
            <div [class.hide]="registerSuccess==false" class="alert alert-primary mt-2">
                Register Successfully <a (click)="toLoginScreen($event)" href="#">Please sign in</a>
            </div>
            
        </form>
    </div>
</div>
