.top-header {
    background-color: #003580;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.google-card {
    cursor: pointer;
}

.google-card img {
    width: 30px;
    height: 30px;
}
